dist
node_modules
android
coverage
.git
.github
*.log
*.svg
package-lock.json
stats.html
storybook-static
*.woff
*.woff2
*.ttf
*.eot
*.png
*.jpg
*.jpeg
*.gif
*.ico
tsconfig.json
tsconfig.node.json
*.md
